[Unit]
Description=Renew Smallstep Certificate
Wants=network-online.target
After=network-online.target nss-lookup.target

[Container]
Image={{ smallstep_cli_image }}
{% if smallstep_cli_podman_args %}
PodmanArgs={{ smallstep_cli_podman_args }}
{% endif %}
Volume={{ smallstep_cli_dir }}:{{ smallstep_cli_dir }}:Z
Exec=step ca renew {{ smallstep_cli_cert_path }} {{ smallstep_cli_key_path }} --ca-url {{ smallstep_cli_ca_url }} --root {{ smallstep_cli_root_ca_path }} --daemon'
User={{ getent_passwd[smallstep_cli_user][1] }}
Group={{ smallstep_group.gid }}
DNS=192.168.8.2

[Service]
Restart=always
ExecStartPost=/usr/bin/chmod 0640 {{ smallstep_cli_cert_path }} {{ smallstep_cli_key_path }}
ExecStartPost=/usr/bin/chgrp smallstep {{ smallstep_cli_cert_path }} {{ smallstep_cli_key_path }}

[Install]
WantedBy=multi-user.target
